<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Appointment</title>
    <link rel="stylesheet" href="../public/css/bookapp.css" type="text/css"/>
</head>
<body>
    <div class="container">
    <header>
        <h1>Booking Appointment</h1>
    </header>
    <main  class="main1">
        <form  class="book" onsubmit="userDetails(event)">
            <div class="name1">

                <label for="name" class="labels">User Name</label>
                <input type="text" id="Name" name="Name" class="inputs">
            </div>
            <div class="phone1">
                <label for="Phone" class="labels">Phone Number</label>
                <input type="tel" id="Phone" name="Phone" class="inputs">
            </div>
            <div class="email1">
                <label for="Email" class="labels">Email Id</label>
                <input type="email" id="Email" name="Email" class="inputs">

            </div>
            <button  type="submit" id="sbtn">Submit</button>
        </form>
     </main>

</div>
<div class="appointments">
    <ul class="uls" id="ullist">

    </ul>
 </div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"></script>
<script src="/js/main.js"></script>
</html>